/* cores */
.yellow{
    color: yellow;
}
.orange {
    color: #f84b2f;
}

.orange-dark {
    color: #ec2216;
}

.white {
    color: #eee;
}

.dark {
    color: #222;
}

.gray{
    color: rgba(238, 238, 238, 0.699);
}

.bg-gray{
    background-color: rgba(238, 238, 238, 0.699);
}

.bg-orange {
    background-color: #f84b2f;
}

.bg-orange-dark {
    background-color: #ec2216;
}

.bg-white {
    background-color: #eee;
}

.bg-dark {
    background-color: #222;
}