body {
    font-size: 14px;
    font-family: sans-serif;
    color: var(--black);
    /* RGB: 00-> red, 00-> Green, 00->Blue. Simplificar: 0->R, 0->G, 0->B */
    /* #222222 = #222 */
}

.img-invert {
    -webkit-filter: invert();
    filter: invert();
}

.icon {
    width: 10px;
    position: relative;
    top: 3px
}

nav .area-usuario a,
nav .rede-social {
    font-size: 12px;
    /* display: flex; */
}

nav .area-usuario a {
    text-decoration: none;
    color: var(--white)
}

/* Barra de busca */
.bar-search {
    padding: 2px;
}

.input-search,
.btn-search {
    border: none;
}

.input-search {
    padding: 5px 10px;
    width: 100%;
}

.input-search:focus {
    outline: none !important;
}

.btn-search {
    padding: 5px 20px;
    cursor: pointer;
}

.links-search {
    padding: 5px 0;
}

.links-search a {
    color: var(--white);
    text-decoration: none;
    font-size: 10px;
}

.icon-logo {
    padding: 0 10px;
    width: 100%;
    max-height: 50px;
}

.icon-cart {
    padding: 10px 20px;
    font-size: 25px;
}

.header-space-y {
    padding: 0 0 10px 0;
}

/* Exemplo Flex */
.header-top {
    display: flex;
    justify-content: space-between;
}

.header-seach {
    flex-basis: 70%;
}

.bar-search {
    display: flex;
    justify-content: space-between;
}

.slides {
    background-color: var(--yellow);
    flex-grow: 3;
    padding: 5px;
}

.ofertas {
    flex-grow: 1;
}

.carousel-item {
    height: 250px;
}

.carousel-item img {
    object-fit: cover;
}

.ofertas div {
    height: 100%;
    background-color: var(purple);
    padding: 5px;
}

.display-mobile-hide {
    display: block;
}

.display-mobile-show {
    display: none;
}

#publicidade-desktop1 {
    display: block;
}

#publicidade-mobile1 {
    display: none;
}

.py-20 {
    padding: 20px 0;
}

#timeOff b {
    background-color: var(--black);
    color: var(--white);
    border-radius: 4px;
    padding: 0 2px;
    font-size: 14px;
}

.product-img {
    width: 100%;
    position: relative;
}

.product-flagOff {
    background-image: url("../img/bookmark-solid.svg");
    background-size: contain;
    background-repeat: no-repeat;
    width: 30px;
    height: 40px;
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    font-size: 10px;
    font-weight: bold;
    text-align: center;
    color: var(--white);
    padding-top: 3px;
}

.product-flagOff span:first-child {
    color: var(--orange)
}

.product-img img {
    width: 100%;
}

.product-post {
    position: absolute;
    bottom: 0;
    width: 70%;
}

.product-price,
.product-bar {
    text-align: center;
}

.product-price {
    font-size: 20px;
    font-weight: bold;
    color: var(--orange);
    padding: 10px 0;
    margin: 0;
}

.product-bar {
    position: relative;
}

.product-bar span {
    position: absolute;
    top: 0;
    left: 3%;
    color: var(--white);
    font-weight: bold;
}




@media (max-width:460px) {
    /* .icon-cart {
        display: none;
    } */

    #publicidade-desktop1 {
        display: none;
    }

    #publicidade-mobile1 {
        display: block;
    }

    .display-mobile-hide {
        display: none;
    }

    .display-mobile-show {
        display: block;
    }

}

@media print {
    img {
        display: none;
    }
}