body {
    font-size: 14px;
    font-family: sans-serif;
    color: #222;
    /* RGB: 00-> red, 00-> Green, 00->Blue. Simplificar: 0->R, 0->G, 0->B */
    /* #222222 = #222 */
}

.img-invert {
    -webkit-filter: invert();
    filter: invert();
}

.icon {
    width: 10px;
    position: relative;
    top: 3px
}

nav .area-usuario a,
nav .rede-social {
    font-size: 12px;
    /* display: flex; */
}

nav .area-usuario a {
    text-decoration: none;
    color: #eee;
}

/* Barra de busca */
.bar-search {
    padding: 2px;
}

.input-search,
.btn-search {
    border: none;
}

.input-search {
    padding: 5px 10px;
    width: 100%;
}

.input-search:focus {
    outline: none !important;
}

.btn-search {
    padding: 5px 20px;
    cursor: pointer;
}

.links-search {
    padding: 5px 0;
}

.links-search a {
    color: #eee;
    text-decoration: none;
    font-size: 10px;
}

.icon-logo {
    padding: 0 10px;
    width: 100%;
    max-height: 50px;
}

.icon-cart {
    padding: 10px 20px;
    font-size: 25px;
}

.header-space-y {
    padding: 0 0 10px 0;
}

/* Exemplo Flex */
.header-top {
    display: flex;
    justify-content: space-between;
}

.header-seach {
    flex-basis: 70%;
}

.bar-search {
    display: flex;
    justify-content: space-between;
}

.slides {
    height: 100%;
    background-color: #ef0;
    flex-grow: 3;
    padding: 5px;
}

.ofertas {
    flex-grow: 1;
}

.ofertas div {
    height: 100%;
    background-color: rgb(144, 139, 191);
    padding: 5px;
}

.display-mobile-hide {
    display: block;
}

.display-mobile-show {
    display: none;
}

#publicidade-desktop1 {
    display: block;
}

#publicidade-mobile1 {
    display: none;
}


@media (max-width:460px) {
    /* .icon-cart {
        display: none;
    } */

    #publicidade-desktop1 {
        display: none;
    }

    #publicidade-mobile1 {
        display: block;
    }

    .display-mobile-hide {
        display: none;
    }

    .display-mobile-show {
        display: block;
    }

}

@media print {
    img {
        display: none;
    }
}